app = "hamsterhouse"
primary_region = "ams"

[build]
  builder = "paketobuildpacks/builder:base"

[env]
  DASHBOARD_ENABLED = "true"
  PORT = "3000"
  HOST = "0.0.0.0"

[[services]]
  internal_port = 3000
  protocol = "tcp"

  [[services.ports]]
    handlers = ["http"]
    port = 80

  [[services.ports]]
    handlers = ["tls", "http"]
    port = 443